body {
                margin: 0px;
                padding: 0px;
            }
			

#mainBG
{
  height: 920px;
  width: 500px;
  left: 0px;
  background-color: #99CCFF;
  border: solid;
  border-width: 2px;
  position: absolute;

}

#header
{
  height: 100px;
  width: 500px;
  background-color: white;
  border-bottom: solid;
  border-width: 2px;
  position: absolute;
}
#controls
{
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
#headerLogo
{
	height: 50px;
	width: 100px;
	top: 25px;
	left: 200px;
	position: absolute;
}
#headerBttnImg
{
	height: 80px;
	width: 80px;
	top: 10px;
	left: 10px;
	position: absolute;
}
#headerBttn
{
	height: 80px;
	width: 80px;
	top: 10px;
	left: 10px;
	position: absolute;
	background: transparent;
}
#colorPopImage
{
	width:480px;
	height:150px;
	left: 10px;
	top: 110px;
	position: absolute;
}
#colorPopBtn
{
	width:480px;
	height:150px;
	left: 10px;
	top: 110px;
	position: absolute;
	background: transparent;
}
#PPImage
{
	width:480px;
	height:150px;
	left: 10px;
	top: 270px;
	position: absolute;
}
#PPBtn
{
	width:480px;
	height:150px;
	left: 10px;
	top: 270px;
	position: absolute;
	background: transparent;
}
#MCImage
{
	width:480px;
	height:150px;
	left: 10px;
	top: 430px;
	position: absolute;
}
#MCBtn
{
	width:480px;
	height:150px;
	left: 10px;
	top: 430px;
	position: absolute;
	background: transparent;
}
#footer
{
	height: 25px;
  width: 500px;
  top: 894px;
  background-color: white;
  border-top: solid;
  border-width: 2px;
  position: absolute;
}
#footerTxt
{
	bottom:-13px;
	left: 120px;
	font-family: arial;
	position: absolute;
}
/*options stuff*/
#optionsBG
{
  height: 920px;
  width: 500px;
  left: 0px;
  background-color: #707070;
  border: solid;
  border-width: 2px;
  position: absolute;

}


#shareBtn
{
	height: 75px;
	width: 500px;
	top: 110px;
	background-color: #242424;
	position: absolute;
}

#realShareBtn
{
	height: 75px;
	width: 500px;
/* 	background: transparent;
	border: none; */
	position: absolute;
}
#textOnBtn
{
	position:absolute;
	font-family:arial;
	top: -22px;
	left: 100px;
	font-size: 35px;
}
#howToBtn
{
	height: 75px;
	width: 500px;
	top: 200px;
	background-color: #242424;
	position: absolute;
}
#realHowToBtn
{
	height: 75px;
	width: 500px;
/* 	background: transparent;
	border: none; */
	position: absolute;
}
#locationsBtn
{
	height: 75px;
	width: 500px;
	top: 290px;
	background-color: #242424;
	position: absolute;
}
#realLocationsBtn
{
	height: 75px;
	width: 500px;
/* 	background: transparent;
	border: none; */
	position: absolute;
}
#settingsBtn
{
	height: 75px;
	width: 500px;
	top: 380px;
	background-color: #242424;
	position: absolute;
}
#realSettingsBtn
{
	height: 75px;
	width: 500px;
/* 	background: transparent;
	border: none; */
	position: absolute;
}
#contactBtn
{
	height: 75px;
	width: 500px;
	top: 470px;
	background-color: #242424;
	position: absolute;
}

#realContactBtn
{
	height: 75px;
	width: 500px;
/* 	background: transparent;
	border: none; */
	position: absolute;
}
#helpBtn
{
	height: 75px;
	width: 500px;
	top: 560px;
	background-color: #242424;
	position: absolute;
}
#realHelpBtn
{
	height: 75px;
	width: 500px;
/* 	background: transparent;
	border: none; */
	position: absolute;
}
#buttons
{
	top: 30px;
	position: absolute;
}

